<form id="request-dialog" class="dialog-content standard-form {{cssClass}}">
  <h4 class="divider">{{localize label}}</h4>

  {{!-- Options --}}
  <div class="form-group">
    <label>{{localize selectTitle}}</label>
    <select data-cType="string" data-path="selected">
      {{selectOptions dropdownOptions selected=selected}}
    </select>
  </div>

  {{!-- Selector --}}
  <div class="selector-wrapper">
    {{#if noActor}}
    <div class="option">
      <label>{{localize "PGMT.noActor"}}</label>
    </div>
    {{else}}
    {{#each actorSelector as |option id|}}
    <div class="option">
      <div class="wrapper">
        <img src="{{option.actor.img}}"/>
        <input disabled value="{{option.actor.name}}"/>
      </div>
      <a class="fa-2x {{#if option.selected}}fa-solid fa-square-xmark{{else}}fa-regular fa-square{{/if}}" data-cType="activable" data-path="actorSelector.{{id}}.selected"></a>
    </div>
    {{/each}}
    {{/if}}
  </div>

  <button class="close" data-action="sendRequest"><i class="fas {{icon}}"></i>{{localize "PGMT.sendRequest"}}</button>
</form>